/* =====================================================

  ##  inviewアニメ以外のアニメーション
      使わないアニメーションはコメントアウト推奨
      
/* ===================================================== */

/* ===================================================== 
  要素内のテキストを一文字ずつアニメーションする
  ------------------------------------------------------ 
  使い方
  1.main.ts内でletterAnimetion.tsコンポーネントを有効にする。
  2.letterAnimation() の第一引数に動かしたいテキストを内包
    するクラスを指定する。
  3.レンダリング時にクラス内のテキストがspanで囲まれ、
    表示領域に入るの新いクラスが付与される
=====================================================  */
/* .u-animation-jsLetter {
} */

.u-animation-jsLetter .letter {
  opacity: 0;
  transition: all 0.5s ease;
}

.u-animation-jsLetter .letter-inview {
  visibility: visible;
  opacity: 1;
}
