---
interface Props {
  width?: string | 'full' | 'full-sp';
  css?: string;
  id?: string;
}

const { width, css, id } = Astro.props;

// 通常(フレキシブル)
let width_css = 'px-[4.8vw] md:px-[6vw] xl:px-[12vw]';
if (width === 'full') {
  // 余白無し
  width_css = 'px-0';
} else if (width === 'full-sp') {
  //携帯のみ余白無し
  width_css = 'px-0 md:px-[6vw] xl:px-[12vw]';
} else if (width) {
  //カスタム
  width_css = width;
}
---

<div class={`relative mx-auto ${width_css} ${css ?? ''}`} id={id}>
  <slot />
</div>
