---
import Wrapper from '@/components/layout/Wrapper.astro';
---

<footer class="sticky top-full">
  <Wrapper>
    <hr class="border-(--color-secondary)" />
    <div>
      <!-- TODO: githubアカウントとsnsアカウント -->
    </div>
    <div class="text-center">
      <small>&copy; minoura</small>
    </div>
  </Wrapper>
</footer>
