*,
:before,
:after {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: currentColor;
}
:before,
:after {
  --tw-content: '';
}
html {
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  font-family:
    ui-sans-serif,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Helvetica Neue,
    Arial,
    Noto Sans,
    sans-serif,
    'Apple Color Emoji',
    'Segoe UI Emoji',
    Segoe UI Symbol,
    'Noto Color Emoji';
  font-variation-settings: normal;
  font-feature-settings: normal;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
}
body {
  margin: 0;
  line-height: inherit;
}
hr {
  border-top-width: 1px;
  height: 0;
  color: inherit;
}
abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}
a {
  color: inherit;
  text-decoration: inherit;
}
b,
strong {
  font-weight: bolder;
}
code,
kbd,
samp,
pre {
  font-size: 1em;
  font-family:
    ui-monospace,
    SFMono-Regular,
    Menlo,
    Monaco,
    Consolas,
    Liberation Mono,
    Courier New,
    monospace;
}
small {
  font-size: 80%;
}
sub,
sup {
  position: relative;
  vertical-align: baseline;
  font-size: 75%;
  line-height: 0;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
table {
  border-color: inherit;
  border-collapse: collapse;
  text-indent: 0;
}
button,
input,
optgroup,
select,
textarea {
  margin: 0;
  padding: 0;
  color: inherit;
  font-weight: inherit;
  font-size: 100%;
  line-height: inherit;
  font-family: inherit;
  font-variation-settings: inherit;
  font-feature-settings: inherit;
}
button,
select {
  text-transform: none;
}
button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
  background-image: none;
  background-color: transparent;
}
:-moz-focusring {
  outline: auto;
}
:-moz-ui-invalid {
  box-shadow: none;
}
progress {
  vertical-align: baseline;
}
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}
[type='search'] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
summary {
  display: list-item;
}
blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}
fieldset {
  margin: 0;
  padding: 0;
}
legend {
  padding: 0;
}
ol,
ul,
menu {
  margin: 0;
  padding: 0;
  list-style: none;
}
dialog {
  padding: 0;
}
textarea {
  resize: vertical;
}
input::-moz-placeholder,
textarea::-moz-placeholder {
  opacity: 1;
  color: #9ca3af;
}
input::placeholder,
textarea::placeholder {
  opacity: 1;
  color: #9ca3af;
}
button,
[role='button'] {
  cursor: pointer;
}
:disabled {
  cursor: default;
}
img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  vertical-align: middle;
}
img,
video {
  max-width: 100%;
  height: auto;
}
[hidden] {
  display: none;
}
[x-cloak] {
  display: none !important;
}
* {
  outline: none;
}
html {
  background-color: #fff;
  font-size: calc(1000vw / 375);
}
@media (min-width: 768px) {
  html {
    font-size: 62.5%;
  }
}
@media (min-width: 1920px) {
  html {
    position: initial;
    overflow: initial;
    font-size: calc(1000vw / 1920);
  }
}
body {
  font-weight: 400;
  font-size: 1.4em;
  font-kerning: normal;
  font-feature-settings: 'palt';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: auto;
  line-break: strict;
  --tw-text-opacity: 1;
  color: rgb(51 51 51 / var(--tw-text-opacity));
}
@media (min-width: 768px) {
  body {
    font-size: 1.6em;
  }
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: inherit;
  font-weight: 700;
  line-height: 1.4;
  font-family: inherit;
}
ul,
ol {
  padding-left: 0;
  list-style-type: none;
}
li {
  > ul,
  > ol {
    margin-bottom: 0;
  }
}
dd {
  margin-left: 0;
}
table {
  width: 100%;
}
a {
  transition: 0.3s;
  text-decoration: none;
}
a:hover {
  opacity: 0.7;
}
img {
  vertical-align: bottom;
  max-width: 100%;
  height: auto;
}
i,
cite,
em,
address,
dfn {
  font-style: normal;
}
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
dl,
blockquote,
p,
address,
hr,
table,
fieldset,
figure,
pre {
  margin-top: 0;
  margin-bottom: 0;
}
input,
button,
textarea,
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
  outline: none;
  border: none;
  border-radius: 0;
  background: none;
  padding: 0;
}
textarea {
  resize: none;
}
textarea::-moz-placeholder {
  --tw-text-opacity: 1;
  color: rgb(128 128 128 / var(--tw-text-opacity));
}
textarea::placeholder {
  --tw-text-opacity: 1;
  color: rgb(128 128 128 / var(--tw-text-opacity));
}
textarea::-webkit-input-placeholder {
  padding-top: 0.2rem;
}
textarea::-ms-input-placeholder {
  --tw-text-opacity: 1;
  color: rgb(128 128 128 / var(--tw-text-opacity));
}
textarea:-ms-input-placeholder {
  --tw-text-opacity: 1;
  color: rgb(128 128 128 / var(--tw-text-opacity));
}
input {
  font-size: 16px;
}
input::-moz-placeholder {
  --tw-text-opacity: 1;
  color: rgb(128 128 128 / var(--tw-text-opacity));
}
input::placeholder {
  --tw-text-opacity: 1;
  color: rgb(128 128 128 / var(--tw-text-opacity));
}
input::-webkit-input-placeholder {
  padding-top: 0.2rem;
}
input::-ms-input-placeholder {
  --tw-text-opacity: 1;
  color: rgb(128 128 128 / var(--tw-text-opacity));
}
input:-ms-input-placeholder {
  --tw-text-opacity: 1;
  color: rgb(128 128 128 / var(--tw-text-opacity));
}
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
}
select {
  --tw-text-opacity: 1;
  vertical-align: middle;
  transition: 0.3s;
  cursor: pointer;
  background: none transparent;
  color: rgb(128 128 128 / var(--tw-text-opacity));
  text-indent: 0.01px;
  text-overflow: '';
}
select:hover {
  opacity: 0.7;
}
select option {
  --tw-text-opacity: 1;
  background-color: #fff;
  color: rgb(128 128 128 / var(--tw-text-opacity));
}
select::-ms-expand {
  display: none;
}
select:-moz-focusring {
  --tw-text-opacity: 1;
  color: rgb(128 128 128 / var(--tw-text-opacity));
  text-shadow: none;
}
*,
:before,
:after {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x: ;
  --tw-pan-y: ;
  --tw-pinch-zoom: ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position: ;
  --tw-gradient-via-position: ;
  --tw-gradient-to-position: ;
  --tw-ordinal: ;
  --tw-slashed-zero: ;
  --tw-numeric-figure: ;
  --tw-numeric-spacing: ;
  --tw-numeric-fraction: ;
  --tw-ring-inset: ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur: ;
  --tw-brightness: ;
  --tw-contrast: ;
  --tw-grayscale: ;
  --tw-hue-rotate: ;
  --tw-invert: ;
  --tw-saturate: ;
  --tw-sepia: ;
  --tw-drop-shadow: ;
  --tw-backdrop-blur: ;
  --tw-backdrop-brightness: ;
  --tw-backdrop-contrast: ;
  --tw-backdrop-grayscale: ;
  --tw-backdrop-hue-rotate: ;
  --tw-backdrop-invert: ;
  --tw-backdrop-opacity: ;
  --tw-backdrop-saturate: ;
  --tw-backdrop-sepia: ;
}
::backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x: ;
  --tw-pan-y: ;
  --tw-pinch-zoom: ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position: ;
  --tw-gradient-via-position: ;
  --tw-gradient-to-position: ;
  --tw-ordinal: ;
  --tw-slashed-zero: ;
  --tw-numeric-figure: ;
  --tw-numeric-spacing: ;
  --tw-numeric-fraction: ;
  --tw-ring-inset: ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur: ;
  --tw-brightness: ;
  --tw-contrast: ;
  --tw-grayscale: ;
  --tw-hue-rotate: ;
  --tw-invert: ;
  --tw-saturate: ;
  --tw-sepia: ;
  --tw-drop-shadow: ;
  --tw-backdrop-blur: ;
  --tw-backdrop-brightness: ;
  --tw-backdrop-contrast: ;
  --tw-backdrop-grayscale: ;
  --tw-backdrop-hue-rotate: ;
  --tw-backdrop-invert: ;
  --tw-backdrop-opacity: ;
  --tw-backdrop-saturate: ;
  --tw-backdrop-sepia: ;
}
.prose {
  > :where(* + *) {
    margin-top: 1rem;
  }
  :where(h2) {
    font-weight: 700;
    font-size: 2.4rem;
  }
  :where(h3) {
    font-weight: 700;
    font-size: 1.8rem;
  }
  :where(* + :is(h2, h3)) {
    margin-top: 1.5rem;
  }
  :where(ol, ul) {
    padding-left: 2rem;
    list-style: revert;
  }
  :where(blockquote) {
    margin-left: 2rem;
  }
  :where(blockquote + figcaption) {
    margin-left: 2rem;
  }
  :where(figure > * + *) {
    margin-top: 0.5rem;
  }
}
.section {
  position: relative;
  padding: 3.4rem 0;
}
@media (min-width: 768px) {
  .section {
    padding: 7.8rem 0;
  }
}
.wrapper {
  box-sizing: content-box;
  margin-inline: auto;
  padding-inline: max(8vw, 1rem);
}
.auto-grid-80 {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(20rem, 100%), 1fr));
}
.visible {
  visibility: visible;
}
.collapse {
  visibility: collapse;
}
.fixed {
  position: fixed;
}
.absolute {
  position: absolute;
}
.relative {
  position: relative;
}
.sticky {
  position: sticky;
}
.inset-0 {
  inset: 0;
}
.inset-x-0 {
  right: 0;
  left: 0;
}
.left-0 {
  left: 0;
}
.top-0 {
  top: 0;
}
.top-full {
  top: 100%;
}
.z-10 {
  z-index: 10;
}
.z-20 {
  z-index: 20;
}
.z-50 {
  z-index: 50;
}
.mb-12 {
  margin-bottom: 3rem;
}
.mr-auto {
  margin-right: auto;
}
.mt-12 {
  margin-top: 3rem;
}
.mt-16 {
  margin-top: 4rem;
}
.mt-3 {
  margin-top: 0.75rem;
}
.mt-4 {
  margin-top: 1rem;
}
.mt-6 {
  margin-top: 1.5rem;
}
.block {
  display: block;
}
.flex {
  display: flex;
}
.hidden {
  display: none;
}
.aspect-video {
  aspect-ratio: 16 / 9;
}
.h-96 {
  height: 24rem;
}
.h-auto {
  height: auto;
}
.h-full {
  height: 100%;
}
.min-h-\[100svh\] {
  min-height: 100svh;
}
.w-0 {
  width: 0px;
}
.w-24 {
  width: 6rem;
}
.w-40 {
  width: 10rem;
}
.w-full {
  width: 100%;
}
.max-w-\[100vw\] {
  max-width: 100vw;
}
.origin-right {
  transform-origin: right;
}
.scale-x-0 {
  --tw-scale-x: 0;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate))
    skew(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x))
    scaleY(var(--tw-scale-y));
}
.list-disc {
  list-style-type: disc;
}
.flex-wrap {
  flex-wrap: wrap;
}
.items-center {
  align-items: center;
}
.justify-center {
  justify-content: center;
}
.gap-x-6 {
  -moz-column-gap: 1.5rem;
  column-gap: 1.5rem;
}
.gap-x-8 {
  -moz-column-gap: 2rem;
  column-gap: 2rem;
}
.gap-y-12 {
  row-gap: 3rem;
}
.space-y-1 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(0.25rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(0.25rem * var(--tw-space-y-reverse));
}
.divide-y > :not([hidden]) ~ :not([hidden]) {
  --tw-divide-y-reverse: 0;
  border-top-width: calc(1px * calc(1 - var(--tw-divide-y-reverse)));
  border-bottom-width: calc(1px * var(--tw-divide-y-reverse));
}
.divide-zinc-800 > :not([hidden]) ~ :not([hidden]) {
  --tw-divide-opacity: 1;
  border-color: rgb(39 39 42 / var(--tw-divide-opacity));
}
.overflow-hidden {
  overflow: hidden;
}
.break-words {
  overflow-wrap: break-word;
}
.rounded-3xl {
  border-radius: 1.5rem;
}
.border-b {
  border-bottom-width: 1px;
}
.border-t {
  border-top-width: 1px;
}
.border-zinc-200 {
  --tw-border-opacity: 1;
  border-color: rgb(228 228 231 / var(--tw-border-opacity));
}
.border-zinc-800 {
  --tw-border-opacity: 1;
  border-color: rgb(39 39 42 / var(--tw-border-opacity));
}
.bg-black\/80 {
  background-color: #000c;
}
.bg-slate-700 {
  --tw-bg-opacity: 1;
  background-color: rgb(51 65 85 / var(--tw-bg-opacity));
}
.bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}
.bg-zinc-200 {
  --tw-bg-opacity: 1;
  background-color: rgb(228 228 231 / var(--tw-bg-opacity));
}
.bg-zinc-900 {
  --tw-bg-opacity: 1;
  background-color: rgb(24 24 27 / var(--tw-bg-opacity));
}
.object-cover {
  -o-object-fit: cover;
  object-fit: cover;
}
.py-12 {
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.py-3 {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}
.py-8 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.pl-8 {
  padding-left: 2rem;
}
.text-center {
  text-align: center;
}
.text-2xl {
  font-size: 2.4rem;
}
.text-3xl {
  font-size: 3rem;
}
.text-4xl {
  font-size: 3.6rem;
}
.text-sm {
  font-size: 1.4rem;
}
.text-xl {
  font-size: 2rem;
}
.font-bold {
  font-weight: 700;
}
.text-black {
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity));
}
.text-sky-600 {
  --tw-text-opacity: 1;
  color: rgb(2 132 199 / var(--tw-text-opacity));
}
.text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}
.text-zinc-100\/80 {
  color: #f4f4f5cc;
}
.text-zinc-500 {
  --tw-text-opacity: 1;
  color: rgb(113 113 122 / var(--tw-text-opacity));
}
.text-zinc-900 {
  --tw-text-opacity: 1;
  color: rgb(24 24 27 / var(--tw-text-opacity));
}
.underline-offset-\[0\.125em\] {
  text-underline-offset: 0.125em;
}
.opacity-100 {
  opacity: 1;
}
.filter {
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale)
    var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}
.transition {
  transition-duration: 0.15s;
  transition-property:
    color,
    background-color,
    border-color,
    text-decoration-color,
    fill,
    stroke,
    opacity,
    box-shadow,
    transform,
    filter,
    -webkit-backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke,
    opacity, box-shadow, transform, filter, backdrop-filter;
  transition-property:
    color,
    background-color,
    border-color,
    text-decoration-color,
    fill,
    stroke,
    opacity,
    box-shadow,
    transform,
    filter,
    backdrop-filter,
    -webkit-backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.transition-transform {
  transition-duration: 0.15s;
  transition-property: transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.delay-300 {
  transition-delay: 0.3s;
}
.duration-500 {
  transition-duration: 0.5s;
}
.ease-out {
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
}
@keyframes enter {
  0% {
    transform: translate3d(var(--tw-enter-translate-x, 0), var(--tw-enter-translate-y, 0), 0)
      scale3d(var(--tw-enter-scale, 1), var(--tw-enter-scale, 1), var(--tw-enter-scale, 1))
      rotate(var(--tw-enter-rotate, 0));
    opacity: var(--tw-enter-opacity, 1);
  }
}
@keyframes exit {
  to {
    transform: translate3d(var(--tw-exit-translate-x, 0), var(--tw-exit-translate-y, 0), 0)
      scale3d(var(--tw-exit-scale, 1), var(--tw-exit-scale, 1), var(--tw-exit-scale, 1))
      rotate(var(--tw-exit-rotate, 0));
    opacity: var(--tw-exit-opacity, 1);
  }
}
.duration-500 {
  animation-duration: 0.5s;
}
.delay-300 {
  animation-delay: 0.3s;
}
.ease-out {
  animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
}
.kerning-none {
  font-kerning: none;
  font-feature-settings: normal;
}
.kerning-all {
  font-kerning: normal;
  font-feature-settings: 'palt';
}
.\[line-break\:normal\] {
  line-break: normal;
}
@media (hover: hover) and (pointer: fine) {
  .hover\:text-sky-800:hover {
    --tw-text-opacity: 1;
    color: rgb(7 89 133 / var(--tw-text-opacity));
  }
  .hover\:text-zinc-100:hover {
    --tw-text-opacity: 1;
    color: rgb(244 244 245 / var(--tw-text-opacity));
  }
  .hover\:underline:hover {
    text-decoration-line: underline;
  }
}
@media (prefers-reduced-motion: reduce) {
  .focus-within\:motion-reduce\:scroll-smooth:focus-within {
    scroll-behavior: smooth;
  }
}
@media (min-width: 768px) {
  .min_md\:inline {
    display: inline;
  }
  .min_md\:hidden {
    display: none;
  }
  .min_md\:w-48 {
    width: 12rem;
  }
}
@media (hover: hover) and (pointer: fine) {
  .\[\&\:-moz-any-link\]\:hover\:text-zinc-100:hover:-moz-any-link {
    --tw-text-opacity: 1;
    color: rgb(244 244 245 / var(--tw-text-opacity));
  }
  .\[\&\:any-link\]\:hover\:text-zinc-100:hover:any-link {
    --tw-text-opacity: 1;
    color: rgb(244 244 245 / var(--tw-text-opacity));
  }
}
